<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EnemyRank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,676},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>EnemyRank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{160,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,78}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>EnemyRank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,148},{240,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{240,78}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>EnemyRank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,228},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>Healthbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{252,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,144}}</string>
                <key>sourceSize</key>
                <string>{252,144}</string>
            </dict>
            <key>HealthbarPoison.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,144}}</string>
                <key>sourceSize</key>
                <string>{252,144}</string>
            </dict>
            <key>HealthbarShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,144}}</string>
                <key>sourceSize</key>
                <string>{252,144}</string>
            </dict>
            <key>coin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,670},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{88,88}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>coin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,602},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{88,88}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>coin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,600},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{88,88}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>emblem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{100,110}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>emblem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,384},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{100,110}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>emblem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,310},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{100,110}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>emblem4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{100,110}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>heart01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,504},{94,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{94,84}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>heart02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,588},{92,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{92,86}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>heart03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,514},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{92,86}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>heroShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,294},{88,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{88,90}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,228},{116,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{116,25}}</string>
                <key>sourceSize</key>
                <string>{116,35}</string>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,228},{164,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{164,25}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
            <key>magic01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,486},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,100}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>magic02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,412},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,100}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>magic03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{86,86}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>magic04.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,580},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{88,88}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>magic05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{96,96}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>magic06.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,402},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{102,100}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>sword01.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,690},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{84,88}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>sword02.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,504},{96,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{96,74}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>sword03.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,310},{80,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{80,90}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameatlas-ipad.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72b5c5842ed817d32a53f59a20588e8f$</string>
            <key>textureFileName</key>
            <string>gameatlas-ipad.png</string>
        </dict>
    </dict>
</plist>
