<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EnemyRank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,306},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>EnemyRank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,138},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>EnemyRank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>EnemyRank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{96,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{96,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>Healthbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,70},{105,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,66}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>HealthbarPoison.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{105,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,66}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>HealthbarShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{105,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,66}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>coin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,294},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,303},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>emblem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{44,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>emblem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,154},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{44,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>emblem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{44,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>emblem4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,173},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{44,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>heart01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,309},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{40,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>heart02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,264},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{42,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>heart03.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,252},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{42,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>heroShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,219},{40,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{40,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{52,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,12}}</string>
                <key>sourceSize</key>
                <string>{52,16}</string>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,56},{73,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,11}}</string>
                <key>sourceSize</key>
                <string>{73,15}</string>
            </dict>
            <key>magic01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,219},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>magic02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>magic03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,267},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>magic04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,261},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>magic05.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,206},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>magic06.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,180},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sword01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,131},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{38,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sword02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,228},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{44,34}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sword03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{36,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameatlas.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69865a59bb6551789bb326516e2e9e95$</string>
            <key>textureFileName</key>
            <string>gameatlas.png</string>
        </dict>
    </dict>
</plist>
