<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EnemyRank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1368},{160,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>EnemyRank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{320,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{320,154}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>EnemyRank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,292},{480,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{480,154}}</string>
                <key>sourceSize</key>
                <string>{480,160}</string>
            </dict>
            <key>EnemyRank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,448},{384,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{384,160}}</string>
                <key>sourceSize</key>
                <string>{480,160}</string>
            </dict>
            <key>Healthbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{504,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,288}}</string>
                <key>sourceSize</key>
                <string>{504,288}</string>
            </dict>
            <key>HealthbarPoison.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{504,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,288}}</string>
                <key>sourceSize</key>
                <string>{504,288}</string>
            </dict>
            <key>HealthbarShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,288}}</string>
                <key>sourceSize</key>
                <string>{504,288}</string>
            </dict>
            <key>coin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1188},{178,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{178,178}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>coin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1146},{178,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{178,178}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>coin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{178,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{178,178}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>emblem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{198,218}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{198,218}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>emblem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,758},{198,218}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{198,218}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>emblem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,610},{198,218}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{198,218}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>emblem4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{198,218}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{198,218}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>heart01.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,996},{186,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{186,170}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>heart02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1158},{184,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{184,174}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>heart03.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1012},{184,174}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{184,174}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>heroShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,582},{174,180}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{174,180}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,448},{232,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{232,50}}</string>
                <key>sourceSize</key>
                <string>{232,70}</string>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,448},{328,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{328,50}}</string>
                <key>sourceSize</key>
                <string>{328,70}</string>
            </dict>
            <key>magic01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,810},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{200,200}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>magic02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,958},{198,200}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{198,200}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>magic03.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1326},{172,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{172,172}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>magic04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1334},{176,176}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{176,176}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>magic05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{192,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{192,194}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>magic06.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,792},{202,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{202,202}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>sword01.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1168},{168,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,29},{168,174}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>sword02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,996},{190,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{190,148}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>sword03.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,610},{160,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{160,180}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameatlas-ipadhd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6ff286be24b5a5907d5f48b3ef6fa96$</string>
            <key>textureFileName</key>
            <string>gameatlas-ipadhd.png</string>
        </dict>
    </dict>
</plist>
